@import '../basic/vars';
@import '../basic/colors';
@import '../basic/helpers';

html, body {
    margin: 0;
    padding: 0;
    font-size: $fontSize;
    font-family: "PF Centro Sans Pro";
    min-height: 100vh;
}

a {
    color: $link-color;
    text-decoration: none;
}
