@import '../basic/vars';
@import '../basic/colors';
@import '../basic/helpers';

$adminBlock: 100px;

.admin-wrapper {
    display: flex;

    .left-menu {
        width: $adminBlock;
        border-right: 1px solid #dcdce3;
        height: 100%;
        background: #f3f3f3ab;
        box-shadow: 0px 3px 11px 0px #898992;
        a {
            color: #000;
            text-decoration: none;
        }
        .block {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $adminBlock;
            height: $adminBlock;
            border-bottom: 1px solid #dcdce3;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset;
            }

            &.active {
                background: #1f273c1c;
                box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset;
            }
            .content {
                text-align: center;
                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: auto;
                        height: auto;
                        max-width: 30px;
                        max-height: 30px;

                    }
                }
                .text {
                    margin-top: 5px;

                    span {

                    }
                }
            }

        }
    }

    .content {
        margin: $marginContent;
        .page-title {
            h1 {

            }
        }

    }
}
